//-- Logo
.westa-logo { background-image: url('../img/westa-logo.png'); }

//-- Backgrounds
.westa-top-background { background-image: url('../img/westa-top-background.jpg'); }
.westa-support-program-background { background-image: url('../img/westa-support-program-background.png'); }
.westa-save-money-background { background-image: url('../img/westa-save-money-background.png'); }

//-- Icons
.westa-become-client-icon { background-image: url('../img/westa-become-client-icon.png'); }
.westa-individual-account-icon { background-image: url('../img/westa-individual-account-icon.png'); }
.westa-bank-account-icon { background-image: url('../img/westa-bank-account-icon.png'); }
.westa-corporate-account-icon { background-image: url('../img/westa-corporate-account-icon.png'); }
