@import "var";
@import "mixins";
@import "ico";
@import "fonts.scss";
@import "font-awesome.scss";

* { 
	padding: 0;
	margin: 0;
	font-family: 'Open Sans';
}
.container {
	width: 1100px;
	margin: 0 auto;
}

.top-block-content, .content-wrapper {
	width: 1050px;
	margin: 0 auto;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100% - 100px);
	height: 145px;
	max-height: 145px;
	z-index: 999;
	padding: 0 50px;
	.container {
		@include clear();
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}
	.left-side {
		@include float(left);
		ul li { 
			display: inline-block; 
			margin-right: -4px; 
			line-height: 145px;
			list-style: none;
		}
		.logo, .number {
			text-decoration: none;
			display: block;
			height: 145px;
			line-height: 145px;
			margin-right: -4px;
			color: white;
			@include transition(all 350ms ease-out);
		}
		.logo {
			@extend .westa-logo;
			padding-left: 60px;
			font-weight: 100;
			background: {
				size: 45px;
				repeat: no-repeat;
				position: left center;
			}
			font:{
				size: 16px;
				weight: 600;
			}
			padding-right: 20px;
		}
		.number {
			i.fa {
				padding-right: 4px;
				color: rgba(255, 255, 255, 0.5);
				@include transition(all 500ms ease-out);
			}
			padding-left: 20px;
			margin-top: -5px;
			font: {
				size: 16px;
				weight: 100;
			}
			&:hover i.fa {
				color: white;
			}
		}
	}
	.right-side {
		@include float(right);
		ul li {
			display: inline-block;
			margin-right: -4px;
			line-height: 145px;
			list-style: none;
			a {
				@include transition(all 350ms ease-out);
				text-decoration: none;
				padding: 7px 0;
				margin: 0 10px;
				color: white;
				border: dotted transparent;
				border-width: 1px 0;
				font: {
					size: 14px;
					weight: 100;
				}
				&.sign-in {
					padding: 0 25px;
					border-radius: 33px;
					line-height: 33px;
					height: 33px;
					display: block;
					font-size: 12px;
					text-transform: uppercase;
					font-weight: bold;
					border: 1px dotted transparent;
					&:hover {
						border-color: $green-color;
						color: $green-color;
						cursor: pointer;
					}
				}
				&.sign-up {
					padding: 0 25px;
					border-radius: 35px;
					line-height: 35px;
					background-color: green;
					height: 35px;
					display: block;
					font-size: 12px;
					text-transform: uppercase;
					font-weight: bold;
					border: none;
					&:hover {
						border: none;
						background-color: darken(green, 10);
						color: white;
						cursor: pointer;
					}
				}
				&:hover {
					border-bottom-color: $green-color;
					color: $green-color;
					cursor: pointer;
				}
			}
		}
	}
	&.scrolled {
		background-color: rgba(0, 0, 0, 0.90);
		height: 50px;
		.container {
			border-bottom: none;
		}
		.left-side {
			ul li {
				line-height: 50px;
			}
			.logo, .number {
				line-height: 50px;
				height: 50px;
			}
			.logo {
				background-size: 35px;
				padding-left: 45px;
			}
		}
		.right-side {
			ul li {
				line-height: 50px;
				a {
					margin: 0 7px;
					&.sign-in {
						padding: 0 20px;
						border-radius: 30px;
						line-height: 30px;
						height: 30px;
					}
					&.sign-up {
						padding: 0 20px;
						border-radius: 30px;
						line-height: 30px;
						height: 30px;
					}
				}
			}
		}
	}
}
.top-block {
	@extend .westa-top-background;
	@include flex(center, center);
	background: {
		size: cover;
		position: center center;
	}
	height: 700px;
	padding-top: 170px;
	width: 100%;
	position: relative;
	z-index: 1;
	.top-block-dark {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.55);
		z-index: 2;
	}
	.top-block-content {
		position: relative;
		color: white;
		z-index: 3;
		h1 {
			font-size: 65px;
			font-weight: 100;
			padding-bottom: 15px;
			.company {
				font-weight: bold;
			}
		}
		p {
			padding-top: 15px;
			font-size: 22px;
			font-weight: 100;
			padding-bottom: 25px;
		}
		a.top-action {
			margin-top: 25px;
			line-height: 50px;
			display: inline-block;
			background-color: green;
			color: white;
			padding: 0 30px;
			text-decoration: none;
			border-radius: 50px;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: bold;
			@include transition(all 300ms ease-out);
			&:hover {
				background-color: darken(green, 10);
				cursor: pointer;
			}
		}
	}
}
.features-block {
	.first-blocks, .second-blocks {
		@include clear();
	}
	.first-block, .second-block {
		float: left;
		width: calc(100% / 3);
		@include flex(center, center);
	}
	.first-blocks {
		z-index: 5;
		position: relative;
		margin-top: -80px;
		.first-block {
			@include box-shadow(0px 0px 60px 0px rgba(0,0,0,0.2));
			text-align: center;
			background-color: white;
			position: relative;
			&.become-client {
				.icon {
					margin: 0 auto;
					width: 100px;
					height: 100px;
					background-size: 70px;
					background-repeat: no-repeat;
					background-position: center center;
					@extend .westa-become-client-icon;
				}
				.action-button {
					position: absolute;
					left: 0;
					bottom: -20px;
					width: 100%;
					button {
						@include border-radius(20px);
						@include transition(all 300ms ease-out);
						height: 40px;
						line-height: 40px;
						padding: 0 30px;
						border: none;
						text-transform: uppercase;
						background-color: green;
						color: white;
						font-weight: bold;
						font-size: 12px;						
						outline: none;
						&:hover {
							background-color: darken(green, 10);
							cursor: pointer;
						}
					}
				}
			}
			&.support-program {
			 	@extend .westa-support-program-background;
			 	background-position: center center;
			 	background-size: 270px;
			 	background-repeat: no-repeat;
			}
			&.save-money {
				@extend .westa-save-money-background;
				background-position: center center;
				background-size: 270px;
				background-repeat: no-repeat;
			}
			&.block-center { 
				height: 250px; 
				z-index: 7;
				border-radius: 15px;
				margin-top: -40px;
				h2 {
					font-size: 30px;
					color: $heading-color;
				}
				p {
					color: $description-color;
					font-size: 13px;
				}
			}
			&.block-side { 
				height: 165px; 
				z-index: 3;
				border-bottom: 3px solid $green-color;
				h2 {
					font-size: 20px;
					color: $heading-color;
				}
				p {
					color: $description-color;
					font-size: 13px;
				}
				&:first-child {
					border-radius: 15px 0 0 15px;
				}
				&:last-child {
					border-radius: 0 15px 15px 0;
				}
			}
		}
	}
	.second-blocks {
		.second-block {
			text-align: center;
			h1 {
				color: $heading-color;
			}
			p {
				color: $description-color;
			}

			&.individual-account, &.bank-account, &.corporate-account {
				.icon {
					height: 100px;
					width: 100px;
					background-position: center center;
					background-repeat: no-repeat;
					background-size: 70px;
					margin: 0 auto;
				}
				h2 {
					padding-top: 10px;
				}
			}
			&.individual-account {
				.icon { 
					@extend .westa-individual-account-icon; 
					background-size: 55px;
				}
			}
			&.bank-account {
				.icon { @extend .westa-bank-account-icon; }
				a {
					color: $green-color;
					font-size: 12px;
					margin-top: 25px;
				}
			}
			&.corporate-account {
				.icon { @extend .westa-corporate-account-icon; }
			}

			&.block-center {
				background-color: white;
				border-radius: 15px;
				@include box-shadow(0px 0px 60px 0px rgba(0,0,0,0.10));
				height: 300px;
				h2 {
					font-size: 25px;
					padding-bottom: 15px;
				}
				p {
					font-size: 13px;
					padding: 0px 15px 15px;
				}
			}
			&.block-side {
				height: 300px;
				h2 {
					font-size: 20px;
					padding-bottom: 10px;
				}
				p {
					font-size: 13px;
				}
			}
		}
		padding-bottom: 100px;
	}
	.separator-block {
		@extend .westa-bg-logo;
		margin-top: -125px;
		margin-bottom: -125px;
		text-align: center;
		padding: 200px 0;
		font-weight: bold;
		font-size: 30px;
		color: $heading-color;
		background-position: center center;
		background-repeat: no-repeat;
	}
}
.links-block {
	background-color: #F7F8FA;
	a {
		line-height: 95px;
		display: inline-block;
		width: calc(100% / 5);
		text-align: center;
		color: #ADBAC1;
		text-decoration: none;
		font-weight: 200;
		@include transition(all 350ms ease-out);
		&:hover {
			color: $green-color;
			text-decoration: underline;
		}
	}
}